<% include ./partials/header %>


    <!-- Page Content -->
    <section class="py-5">
      <div class="container">
        <h1>Meetup</h1>
        <div class="container">
          <% if(error && error.length > 0) { %>
            <p class="alert alert-danger"><%= error %></p>
          <% } %>

          <% if(success && success.length > 0) { %>
              <p class="alert alert-success"><%= success %></p>
          <% } %>
        </div>

        <% if(meetup && meetup.length > 0){ %>
            <div class="meetup-detail card">
                <div class="row">
                  <div class="col-sm-12">
                    <h2 class="float-left event-group"><%= meetup[0].group %></h2>

                    <!-- Modal -->
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary float-right edit" data-toggle="modal" data-target="#editModal">Edit</button>
          
                    <!-- Modal -->
                    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h5 class="modal-title">Edit</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            </div>
                            <div class="modal-body">
                              <div class="meetup-form">
                                <form action="/meetup/<%= meetup[0]._id %>?_method=put" enctype="multipart/form-data" method="POST">
                                    <div class="form-group">
                                      <label for="group">Group</label>
                                      <input type="text" class="form-control" name="group" value="<%= meetup[0].group %>">
                                    </div>
                                    <div class="form-group">
                                      <label for="theme">Topic</label>
                                      <input type="text" class="form-control" name="topic" value="<%= meetup[0].topic %>">
                                    </div>
                                    <div class="form-group">
                                      <label for="venue">Venue</label>
                                      <input type="text" class="form-control" name="venue" value="<%= meetup[0].venue %>">
                                    </div>
                                    <div class="form-group">
                                      <label for="time">Time</label>
                                      <input type="datetime-local" class="form-control" name="time" value="<%= meetup[0].time %>">
                                    </div>
                                    <div class="form-group">
                                      <label for="image">Meetup Image</label>
                                      <input type="file" id="image" name="image" accept="image/*" class="form-control-file">
                                    </div>
                                    <button type="submit" class="btn btn-primary">Update</button>
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </form>
                              </div>
                            </div> <!-- close modal-body -->
                        </div> <!-- close content -->
                      </div> <!-- modal-dialog -->
                    </div> <!-- modal fade -->

                  </div>

                  <img class="img-fluid meetup__image" src="<%= meetup[0].imageURL %>" alt="<%= meetup[0].group %> banner">
                  
                  <div class="description col-md-8 float-right">
                      <h6 class="description__item"><i class="fas fa-users"></i> <%=meetup[0].topic %></h6>
                      <p class="description__item"><i class="fas fa-map-marker-alt"></i> <%=meetup[0].venue %> <br>
                          <i class="fas fa-calendar-alt"></i> <%=meetup[0].time.split('T')[0] %> 
                          <i class="fas fa-clock"></i> <%=meetup[0].time.split('T')[1] %> WAT prompt
                      </p>
                      <!-- <a class="btn btn-success float-right" href="/join/<%= meetup[0]._id %>">Register</a> -->
                      <form action="/join/<%= meetup[0]._id %>?_method=PUT" method="POST">
                        <button class="btn btn-success float-right">Register</button>
                      </form>
                      <form action="/meetup/<%= meetup[0]._id %>?_method=DELETE" method="POST" onsubmit="return confirm('Are you sure you want to delete this meetup?');">
                        <button type="submit" class="btn btn-danger float-left">Delete</button>
                      </form>
                  </div>
                </div>
            </div>
        <% } %>
    </div>
    </section>

    <!-- Footer -->
    <% include ./partials/footer %>
