
    <% include ./partials/header %>

    <!-- Page Content -->
    <section class="main">
      <div class="container">
        <h1 >View Upcoming Meetups</h1>

        <% if(meetups.length > 0){  
          for(let i=0; i<meetups.length; i++){  
        %>

            <div class="meetup-item row">
                <div class="picture col-md-3 float-left">
                  <img class="icon img-fluid" src="<%= meetups[i].imageURL %>" alt="<%=meetups[i].group%> Meetup banner" style="height: 10em;">
                </div>
                <div class="description col-md-7 float-right">
                  <h6><strong><%=meetups[i].group%></strong>: <%= meetups[i].topic %></h6>
                    <p><i class="fas fa-map-marker-alt"></i> <%= meetups[i].venue %><br>
                      <i class="fas fa-clock"></i> <%= meetups[i].time %> prompt</p>
                  <a class="btn btn-success float-right" href="/meetup/<%= meetups[i]._id %>">View meetup</a>
                </div>
            </div>
        <% 
            } 
         } 
         %>
          

            
      </div>
    </section>

    <!-- Footer -->
    <% include ./partials/footer %>

   