
    <% include ./partials/header %>

    <!-- Page Content -->
    <section class="main">
      <div class="container">
        <h1 >View Upcoming Meetups</h1>
          <div class="container">
            <% if(error && error.length > 0) { %>
              <p class="alert alert-danger"><%= error %></p>
            <% } %>

            <% if(success && success.length > 0) { %>
                <p class="alert alert-success"><%= success %></p>
            <% } %>
          </div>

        <% if(meetups.length > 0){
          for(let i=0; i<meetups.length; i++){ 
        %>
            <div class="meetup-item row">
                <div class="picture col-md-3 float-left">
                  <img class="icon img-fluid" src="<%= meetups[i].imageURL %>" alt="<%=meetups[i].group%> Meetup banner" style="height: 10em;">
                </div>
                <div class="meetups__description col-md-7 float-right">
                  <div class="details"><strong><%=meetups[i].group%>:</strong> <%= meetups[i].topic %></div>
                  <div class="details"><i class="fas fa-map-marker-alt"></i> <%= meetups[i].venue %></div>
                  <div class="details"><i class="fas fa-clock"></i> <%= meetups[i].time.split('T')[0] %></div>
                  <div class="details"><i class="fas fa-clock"></i> <%= meetups[i].time.split('T')[1] %> WAT</div>
                  <a class="btn btn-info float-right meetups__views" href="/meetup/<%= meetups[i]._id %>">View meetup</a>
                </div>
            </div>
        <% 
            } 
         } 
         %>
                     
      </div>
    </section>

    <!-- Footer -->
    <% include ./partials/footer %>

   